html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Noto Sans', sans-serif;
}
.front-page-home{
    height: 710px !important;
}

.front-page-left{
    padding: 70px 70px;
}
.front-page-right{
    background-color: #65509C;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;  
    text-align:right;
    padding: 250px 100px !important;
    height: 710px !important;
    
}
.front-page-right a{
    color: #fff;
    Text-decoration: none;
    font-size: 11px;
    font-weight:100 !important;
} 
.front-page-right a:hover{
    color: red;
    text-decoration: none;
} 
.front-page-text{
    font-family: 'Noto Sans', sans-serif;
    color: #65509C;
    font-size:36px;
    padding: 200px 50px 20px 50px;
}
.toggle-text{
    color: #ED6949;   
    font-size: 44px;
    
}
.learn-more-front{
    font-size: 16px;
    padding-left: 50px;
    color: #65509C;
}
.current-nav{
    font-size: 20px !important;
}

.lower-front-icon{
    height: 100px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.progress{
    width: 50%;
    margin-left: auto; 
    margin-right:auto;
    
}

.front-page-what-we-do{
  background: url(./picture/what-we-do-bg.png); 
  background-repeat: no-repeat;
  background-size: 100%;
  height: 730px !important;
}
.card-deck{
    padding-top:30px;
}

.no-bg{
    background-color: none !important;
}

.checkout{
    background-color:#ED6949;
    border-radius: 10px;
    padding: 5px;
    margin:30px 20px;
    color:#fff;
    width: 200px; 
}

.front-page-right{
    height:730px !important;
}

input{
    border-radius:20px;
    padding:10px;
    margin:10px !important;
    width:300px;
    border:0px;
    box-shadow:10px 10px 10px lightgrey;
    color: #65509C;
}

textarea{
    border-radius:20px;
    padding:10px;
    margin:10px !important;
    width:300px;
    border:0px;
    box-shadow:10px 10px 10px lightgrey;
    height:150px;
    color: #65509C;
}

#submit{
    border-radius:20px;
    background-color:#ED6949;
    color: #fff;
    border: 0px;
    height:40px;
    width:90px;
    box-shadow:10px 10px 10px lightgrey;
}

.mk-email{
    color:#65509C;
    padding: 20px;
}

.click-text{
    color:#ED6949;
    padding: 0px 20px;
}

nav{
    background-color:#fff;
    box-shadow: 10px 10px 10px lightgrey;
    text-align: right;

}

.about-us-top{
    background: url(./picture/about-us-bg.png); 
    background-repeat: no-repeat;
    background-size: 100%;
    height: 730px !important;
}

.white-text{
    color:#fff;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    padding: 200px 50px;
}


.affiliate-text{
    background-color: #9149CD;
    height: 700px;
}

.affiliate-text h1{
    color: #fff;
    padding:50px;
    text-align: center;
}

.text-quatation{
    background: url(./picture/quet-box.svg); 
    height:350px;
    background-repeat: no-repeat;
    padding:90px 50px;

}

.img-affiliate-text{
    height:350px;
    width:500px;
    padding-left: 20px;
}

.text-quatation h4{
    font-size:22px;
    color: #fff;

}

.business-management{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93% ),
    url('./picture/women-talking.jpg');
    height:102%;
    background-repeat: no-repeat;
    background-size: 580px 102%;
    
   

}

.digital-marketing{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/digital-marketing.jpg');

    height:100%;
    background-repeat: no-repeat;
    background-size: 580px 1150px;
    
}
.e-com-solution{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/e-com.jpg');
    height:100%;
    background-repeat: no-repeat;
    background-size: 580px 1100px;
    
}
.affiliate-management{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/affiliate.jpg');
    height:100%;
    background-repeat: no-repeat;
    background-size: 580px 1100px;
}

.web-app-solution{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/mobile-app.jpg');
    
    height:100%;
    background-repeat: no-repeat;
    background-size: 480px 1100px;
}
.balk-sms-solution{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/balk-sms.jpg');

    height:100%;
    background-repeat: no-repeat;
    background-size: 1600px 600px;
}
.ads-top{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/adds-network.jpg');
    
    height:100%;
    background-repeat: no-repeat;
    background-size: 490px 1100px;
}

.web-app-top{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/mobile-app-2.jpg');
    
    height:730px;
    background-repeat: no-repeat;
    background-size: 100% 1100px;
    text-shadow: 2px 2px gray;
    
}

.web-app-left{
    padding-top:600px;
}

.mob-title{
    text-align: center;
    padding-top:30px;
    color:white;
}

.bms-left-text{
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 2px 2px gray;
}

.bms-card{
    margin: 5px;
    border-radius: 20px !important;
    box-shadow:0px 0px 7px rgb(70, 70, 70);
}

.card-shadow{
    box-shadow:0px 0px 7px rgb(70, 70, 70);
}

.bms-card-2{
    width:90%
}
.bms-card-1{
    height:80%;
}

.bms-card-1 img{
    padding-left:10px;
}
.color1{
    color:#65509C;
}

.color2{
    color:#ED6949;
}
.color3{
    color:#fff;
}



.ads-left{
   
   margin-top: 300px; 
   padding-right: 60px;
}

.ads-text-right{
    font-weight: 1200;
    padding: 200px 60px !important;
    font-size:36px;
}

.ads-card{
    display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ads-card-2{
    text-align:left;
}

.visit a h4{
    background-color:#ED6949;
    color:#fff;
    border-radius: 20px;
    text-align: center;
    width: 800px;
    padding: 20px;
}

.visit{
    margin: 20px;
    
}

.bulk-big{
    font-size:30px;
}

.bulk-text{
    background-color:white;
    color:rgb(118, 117, 117);
    margin: 70px 20px;
    padding:10px;
    border-radius:10px;

}


.card-type-2{
    width:100px
}

.card-noBg{
    background-color: rgba(245, 245, 245, 1);
    opacity: 0;
}

.personal-branding-topImg img{
   height:400px;

   padding-top: 50px;
}

.padding-title{
    padding-top:50px;

}

.percent-people{
    font-size:40px;
}

.branding-text{
    border-radius:20px;
    box-shadow:10px 10px 10px gray;
    padding:20px;
    margin-top: 50px;
    width:400px;
    color:gray;
}

.p-branding-1 img{
    height:200px;
    margin-top:100px;
}
.p-branding-2 img{
    margin-top:100px;
    height:200px;
}
.p-branding-3 img{
    height:200px;
}

.navbar a{
    font-size:18px;
    font-family: 'Noto Sans', sans-serif;
    color: black !important;
    padding:0px 50px !important;
    
}

.navbar-collapse{
    justify-content:right;
    padding:10px 200px;
}

.icon-size{
    height:70px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text{
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
    padding: 5px;
    text-align: center;
}
.big-text{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

.dropbtn {
    border: none;
    padding: 0px;
    font-size:18px;
    
  }

  .what-we-do{
    margin-top:-30px !important;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #9149CD;}

  .card-body2{
    height:100px;
    display: inline-block;
    padding-top:40px;
    font-size:14px;
    
  }
  .card-body3{
    height:100px;
    display: inline-block;
    padding-top:25px;
    font-size:14px;
    
  }

  .card-what-do{
    box-shadow: 10px 10px 10px gray;
    border-radius:20px;
    height: 240px;
  }
  .mb-web-card{
    height:150px;
    width:120px;
  }