html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Noto Sans', sans-serif;
}
.front-page-home{
    height: 710px !important;
}

.front-page-left{
    padding: 70px 70px !important;
}
.front-page-right{
    background-color: #65509C;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;  
    text-align:right;
    padding: 250px 100px !important;
    height: 710px !important;
    
}
.front-page-right a{
    color: #fff;
    Text-decoration: none;
    font-size: 11px;
    font-weight:100 !important;
} 
.front-page-right a:hover{
    color: red;
    text-decoration: none;
} 
.front-page-text{
    font-family: 'Noto Sans', sans-serif;
    color: #65509C;
    font-size:36px;
    padding: 140px 50px 20px 50px;
}
.p-branding-nav a{
    font-weight: 600 !important;
}
.toggle-text{
    color: #ED6949;   
    font-size: 44px;
    
}
.learn-more-front{
    font-size: 16px;
    color: #65509C;
}
.learn-more{
    padding-left: 50px;
}
.current-nav{
    font-size: 20px !important;
}

.lower-front-icon{
    height: 100px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.progress{
    width: 50%;
    margin-left: auto; 
    margin-right:auto;
    
}

.front-page-what-we-do{
  background: url(./picture/what-we-do-bg.png); 
  background-repeat: no-repeat;
  background-size: 100%;
  height: 730px !important;
}
.card-deck{
    padding-top:30px;
}

.no-bg{
    background-color: none !important;
}

.checkout{
    background-color:#ED6949;
    border-radius: 10px;
    padding: 15px 5px 5px 10px;
    margin:30px 0px;
    color:#fff;
    width: 200px; 
}

.front-page-right{
    height:730px !important;
}

input{
    border-radius:20px;
    padding:10px;
    margin:10px !important;
    width:300px;
    border:0px;
    box-shadow:10px 10px 10px lightgrey;
    color: #65509C;
}

textarea{
    border-radius:20px;
    padding:10px;
    margin:10px !important;
    width:300px;
    border:0px;
    box-shadow:10px 10px 10px lightgrey;
    height:150px;
    color: #65509C;
}
.about-us-heading{
    text-align: left;
    font-size: 36px;
    padding-top:20px;
}

.about-us-top-head{
    padding-right: 30px;
}

.about-us-text{
    text-align:left;
    font-size:17px;
    padding-top:20px;
}
#submit{
    border-radius:20px;
    background-color:#ED6949;
    color: #fff;
    border: 0px;
    height:40px;
    width:90px;
    box-shadow:10px 10px 10px lightgrey;
}

.mk-email{
    color:#65509C;
    padding: 20px;
}

.line-1{
    background-color:#9c5085;
    display: flex;
    margin: 523px 380px;
    position:absolute;
    height: 3px;
    width: 190px;
}
.line-2{
    background-color:#9c5085;
    display: flex;
    margin: 476px 742px;
    position:absolute;
    height: 3px;
    width: 220px;
}
.line-3{
    background-color:#9c5085;
    display: flex;
    margin: 565px 742px;
    position:absolute;
    height: 3px;
    width: 220px;
}
.p-branding-3-1{
    margin-top: 20px;
}
.p-branding-3-2{
    margin-top: -30px;
}

.line-4{
    background-color:#fff;
    display: flex;
    margin: 489px 697px;
    position:absolute;
    height: 3px;
    width: 25px;
}
.line-5{
    background-color:#fff;
    display: flex;
    margin: 489px 1083px;
    position:absolute;
    height: 3px;
    width: 25px;
}
.line-6{
    background-color: #fff;
    display: flex;
    margin: 582px 898px;
    position: absolute;
    height: 84px;
    width: 5px;
}

.click-text{
    color:#ED6949;
    padding: 0px 20px;
}

nav{
    background-color:#fff;
    box-shadow: 2px 5px 5px darkgrey;
    text-align: right;

}

.about-us-top{
    background: url(./picture/about-us-bg.png); 
    background-repeat: no-repeat;
    background-size: 100%;
    height: 730px !important;
}

.white-text{
    color:#fff;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    padding: 200px 50px 0px 50px;
}


.affiliate-text{
    background-color: #9149CD;
    height: 700px;
}

.affiliate-text h1{
    color: #fff;
    padding:50px;
    text-align: center;
}

.text-quatation{
    background: url(./picture/quet-box.svg); 
    height:350px;
    background-repeat: no-repeat;
    padding:90px 50px;

}

.img-affiliate-text{
    height:350px;
    width:500px;
    padding-left: 20px;
}

.text-quatation h4{
    font-size:22px;
    color: #fff;

}

.business-management{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93% ),
    url('./picture/women-talking.jpg');
    height:102%;
    background-repeat: no-repeat;
    background-size: 580px 102%;
    
   

}

.digital-marketing{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/digital-marketing.jpg');

    height:100%;
    background-repeat: no-repeat;
    background-size: 580px 1400px;
    
}
.e-com-solution{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/e-com.jpg');
    height:100%;
    background-repeat: no-repeat;
    background-size: 580px 1100px;
    
}
.affiliate-management{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/affiliate.jpg');
    height:100%;
    background-repeat: no-repeat;
    background-size: 580px 1100px;
}

.web-app-solution{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/mobile-app.jpg');
    
    height:100%;
    background-repeat: no-repeat;
    background-size: 480px 1300px;
}
.balk-sms-solution{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/balk-sms.jpg');
    background-repeat: no-repeat;
    background-size: 1800px 900px;
}
.ads-top{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/adds-network.jpg');
    
    height:100%;
    background-repeat: no-repeat;
    background-size: 500px 1400px;
}
.ads-count{
    font-size:28px;
}
.ads-card-bottom{
    margin-inline-end: 22px !important;
    margin-inline-start: 70px !important;
}



.ads-laft-icon{
    position: -150px;;
}
.adds-top-icon{
    height:50px;
}

.ads-bottom-icon{
    height:70px;
    position: absolute;
    margin: 40px -120px 0px -195px;
}
.ads-bottom-icon2{
    height:90px;
    position: absolute;
    margin: 60px -120px 0px -210px;
}
.ads-bottom-icon3{
    height:70px;
    position: absolute;
    margin: 55px -120px 0px -195px;
}

.web-app-top{
    background-image:
    linear-gradient(to bottom, rgba(27, 38, 155, 0.7) 20%, #7806CA 60%),
    url('./picture/mobile-app-2.jpg');
    
    height:730px;
    background-repeat: no-repeat;
    background-size: 100% 1100px;
    text-shadow: 2px 2px black;
    
}

.mobile-app-body{
    padding: 20px 0px 0px 0px;
}

.web-app-left{
    padding-top:600px;
}

.mob-title{
    text-align: center;
    padding-top:30px;
    color:white;
}

.bms-left-text{
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 2px 2px black;
}

.bms-card{
    margin: 5px;
    border-radius: 20px !important;
    box-shadow:0px 0px 7px rgb(70, 70, 70);
}

.card-shadow{
    box-shadow:0px 0px 7px rgb(70, 70, 70);
}

.bms-card-2{
    width:90%;
    display: inline-flex !important;
    flex-direction: row;
}
    
.counter-card{
    padding: 30px 50px;
    font-size:26px;
    color:gray;
    font-weight:1200 !important;

}
.bms-card-1{
    height:80%;
}

.bms-card-1 img{
    padding-left:10px;
}
.color1{
    color:#65509C;
}

.color2{
    color:#ED6949;
}
.color3{
    color:#fff;
}



.ads-left{
   
   margin-top: 300px; 
   padding-right: 150px;
}

.ads-text-right{
    font-weight: 1200;
    padding: 150px 0px 20px 90px !important;
    font-size:36px;
}
.mk-digital-logo{
    padding-right: 70px;
    padding-bottom: 30px;
}
.ads-card{
    display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.add-padding{
    padding-bottom: 30px;
    padding-left: 80px;
}

.padding-left2{
    padding-left:80px;
}

.ads-card-2{
    text-align:left;
}

.visit a h4{
    background-color:#ED6949;
    color:#fff;
    border-radius: 20px;
    text-align: center;
    width: 800px;
    padding: 15px;
    font-size: 14px;
}

.visit{
    margin: 20px;
    padding: 30px 40px 0px;
    
}

.bulk-big{
    font-size:30px;
}

.bulk-text{
    background-color:white;
    color:rgb(118, 117, 117);
    margin: 70px 20px;
    padding:10px;
    border-radius:10px;

}


.card-type-2{
    width:100px;
    
}
.bulk-card1{
    height:150px;
    max-width:190px;
    text-align: center;
    margin: 70px;
    
    
}


.bulk-card2{
    text-align: center;

}


.bulk-text-left{
    margin-top:600px;
}
.card-noBg{
    background-color: rgba(245, 245, 245, 1);
    opacity: 0;
}

.personal-branding-topImg img{
   height:400px;

   padding-top: 50px;
}

.padding-title{
    padding-top:50px;

}

.percent-people{
    font-size:40px;

}

.branding-text{
    border-radius:20px;
    box-shadow:10px 10px 10px gray;
    padding: 20px;
    margin-top: 50px;
    width:400px;
    color:gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 149px;
    width: 524px;
}

.branding-block{
    width: 240px;
    flex: 0 0 50px;
    margin: 5px;
}

.card-block{
    width: 240px;
    flex: 0 0 50px;
    margin: 5px;
}

.p-branding-1 img{
    height:200px;
    margin-top:100px;
}
.p-branding-2 img{
    margin-top:100px;
    height:200px;
}
.p-branding-3 img{
    height:200px;
}

.navbar a{
    font-size:18px;
    font-family: 'Noto Sans', sans-serif;
    color: black !important;
    padding:0px 50px !important;
    
}

.navbar-collapse{
    justify-content:right;
    padding:10px 200px;
}

.icon-size{
    height:70px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon-size2{
    height:120px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text{
    font-family: 'Noto Sans', sans-serif;
    font-size:10px;
    padding: 15px;
    text-align: center;
}
.big-text{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

.dropbtn {
    border: none;
    padding: 0px;
    font-size:18px;
    
  }

  .what-we-do{
    margin-top:-30px !important;
    height: 231px !important;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 400px;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    border: 1px solid lightgrey;
    padding: 17px 16px !important;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgba(191, 189, 189, 0.671);}

  .card-body2{
    height:100px;
    display: inline-block;
    padding-top:40px;
    font-size:14px;
    font-family: 'Noto Sans', sans-serif;
    
  }
  .card-body3{
    height:100px;
    display: inline-block;
    padding-top:25px;
    font-family: 'Noto Sans', sans-serif;
    font-size:14px;
    
  }

  

  .card-what-do{
    box-shadow: 10px 10px 10px gray;
    border-radius:20px !important;
    height: 200px;
  }
  .mb-web-card{
    height:130px;
    width:140px;
  }

  .card-what-do2{
    box-shadow: 5px 5px 5px black;
    border-radius:20px;
    height: 140px;
  }
.spider-navbar{
    background-image:
    linear-gradient(to bottom, rgba(27, 144, 155, 7%) 10%, #34065C 93%),
    url('./picture/spider-bg.jpg');  
    height:40%;
    background-repeat: no-repeat;
    height:1500px;
    
}
.spider-nav{
    background-image: url("./picture/spider-fig.svg");
    background-repeat: no-repeat;
    background-position : 450px 190px !important;
    background-size: 600px;
    height:40%;
    
    
}
  .spider-fig{
   height: 600px;
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 100px 50px;
   
  }

  .business-management-nav{
    background-color: white;
    border-radius: 10px;
    width:350px;
    text-align: center;
    margin:50px 580px;
    
  }
  .business-management-nav a{
    text-decoration: none;
    color: black;
    
    
  }


  .mobile-app-web-nav{
    background-color: white;
    border-radius: 10px;
    width:350px;
    text-align: center;
    margin: -10px 80px;
  }
  .mobile-app-web-nav a{
    text-decoration: none;
    color: black;
  }

  .personal-branding-nav{
    background-color: white;
    border-radius: 10px;
    width:350px;
    text-align: center;
    margin: -45px 1080px;
  }
  .personal-branding-nav a{
    text-decoration: none;
    color: black;
  }

  .ecommerce-solution-nav{
    background-color: white;
    border-radius: 10px;
    width:350px;
    text-align: center;
    margin: 225px 85px;
  }
  .ecommerce-solution-nav a{
    text-decoration: none;
    color: black;
  }
  .digital-marketing-nav{
    background-color: white;
    border-radius: 10px;
    width:350px;
    text-align: center;
    margin: -270px 1080px;
  }
  .digital-marketing-nav a{
    text-decoration: none;
    color: black;
  }

  .bulk-sms-services{
    background-color: white;
    border-radius: 10px;
    width:350px;
    text-align: center;
    margin: 380px 85px;
  }
  .bulk-sms-services a{
    text-decoration: none;
    color: black;
  }

  .affiliate-marketing-nav{
    background-color: white;
    border-radius: 10px;
    width:350px;
    text-align: center;
    margin: -420px 1080px;
  }
  .affiliate-marketing-nav a{
    text-decoration: none;
    color: black;
  }

  .add-network-nav{
    background-color: white;
    border-radius: 10px;
    width:350px;
    justify-content: center;
    text-align: center;
    margin:487px 580px;
  }
  .add-network-nav a{
    text-decoration: none;
    color: black;
  }

  .dummy{
    opacity: 0;
  }

  .spider-icon{
    height:40px;
    padding: 5px 10px;
  }

  .mk-logo{
    height:50px;
    padding-left: 55px;
  }

  .p-branding-bottom{
    padding-top:320px !important;
  }

  .p-branding-top{
    padding-top:70px;
  }
 
  .img-coma img{
    height:90px;
   
    padding: 10px 355px 0px 0px;
  }

  hr{
    border-top: 5px solid white !important;
    border-radius: 10px;
  }